data/conf/actions.xsd

<?xml version="1.0" encoding="UTF-8"?>
	
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="stendhal"
	xmlns:tns="http://www.example.org/actions" elementFormDefault="qualified"
	xmlns:Q4="stendhal">
	
	<element name="actions" type="Q4:Actions" />
	
	<complexType name="Actions" >
		<sequence>
			<element name="actions" type="Q4:Action" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	
	<complexType name="actionType">
		<sequence>
			<element name="type" type="Q4:typeType" />
			<element name="description" type="string"></element>
			<element name="implementation" type="Q4:implementation"></element>
			<element name="behavior" type="Q4:behavior" minOccurs="0" maxOccurs="4"></element>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" />
		<xsd:attribute name="condition" type="xsd:string" use="optional" />
	</xsd:complexType>
	
	<complexType name="typeType">
		<attribute name="class" type="string"></attribute>
		<attribute name="subclass" type="string"></attribute>
	</complexType>
	
	<complexType name="implementation">
		<attribute name="class-name" type="string"></attribute>
	</complexType>
	
</schema>

